<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhishek.zenq">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--    https://codecanyon.net/item/logi-truck-react-native-theme/23565161
        https://codecanyon.net/item/truck-tracking-driver-android-ios-app-template-html-css-ionic-3-trucksup/24083870-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
         android:theme="@style/AppTheme">
        <activity android:name=".Adminfragment.ActivityAddCity"/>
        <activity android:name=".Location.FragmentGetCity"/>
        <activity android:name=".Adminfragment.ActivityAddState"/>
         <activity android:name=".Adminfragment.ActivityGet_Profile_Show_KYC"/>
         <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterNumb"/>
        <activity android:name=".activity.RegisterNum_OTP"/>
<activity android:name=".activity.RegisterNumAppDetail"/>
        <activity android:name=".activity.RegisterNumFinalDetail"/>
        <activity android:name=".FleetOwnerDashBoard.MainActivityOwnerDashboard"/>


        <activity android:name="MainActivity" />
        <activity android:name=".activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Recived.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>